{% extends "coord_convert/master.html" %}

{% block title %}
  Terminus Geospatial Toolbox
{% endblock %}
{% block extra_head %}
    <style>
        .button-grid {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          align-items: center;
        }
        .menu-button {
            display: grid;
            width: 200px;
        }
        .menu-button img {
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block content %}

<div class="button-grid" >
    <button class="menu-button" onclick="alert('Button clicked!')">
      <img src="static/media/calculator_96_96.png" alt="Icon" width="150" height="150">
      Calculator (C)
    </button>

    <button class="menu-button" onclick="alert('Button clicked!')">
      <img src="static/media/terminal_80.png" alt="Icon" width="150" height="150">
      Python Terminal (T)
    </button>

    <button class="menu-button" onclick="alert('Button clicked!')">
      <img src="static/media/earth_96.png" alt="Icon" width="150" height="150">
      Coordinate Conversion (X)
    </button>
</div>

<script>
    // Add the listener for the Calculator Panel
    document.addEventListener('keydown', function(event) {
        if (event.code == 'KeyC' ) {
            alert('Calculator!')
        }
    });

    // Add the listener for the Python Terminal
    document.addEventListener('keydown', function(event) {
        if (event.code == 'KeyT' ) {
            alert('Terminal!')
        }
    });

    // Add the listener for the Python Terminal
    document.addEventListener('keydown', function(event) {
        if (event.code == 'KeyX' ) {
            alert('Coordinate Converter!')
        }
    });


</script>

{% endblock %}