<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block extra_head %}{% endblock %}
    <style>
        .header {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr;
        }
        .header_image {
          max-width: 200px;
        }
        .header_text {
          font-size: 20px;
        }
    </style>
</head>
<body>

<div id="header" class="header">
    <div class="header_image">
      <img src="/static/logo_blue.png" height="100">
    </div>
    <div class="header_text"> Geospatial Toolbox</div>
</div>

{% block content %}
{% endblock %}

</body>
</html>